#MainHeader{
	font-style:Verdana;
	font-size: 40px;
	color:white;
	text-align: center;
	background-color: #5C6FE3;
	height: 80px;
	width:100%;
	padding: 50px;
	margin-top:-10px;
	margin-left: -10px;

}
img.bookImg{
	height: 80px;
	width:50px;
	padding: 50px;
}